*{
    padding: 0;
    margin: 0;
    font-family: "Microsoft YaHei UI";
}
body{
    background-color: #f2f2f2;
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
.header_top{
    background-color: #f2f2f2;
    width:100%;
    height: 30px;
    line-height: 30px;
}
.header_top_left{
    margin-left: 129.5px;
}
.header_top_left li{
    float: left;
    list-style: none;
    margin-right: 20px;
    font-size: 13px;
}
.header_top_left a{
    color:#666;
}
.header_top_right{
    float: right;
    margin-right: 129.5px;
}
.header_top_right li{
    float: left;
    list-style: none;
    margin-right: 20px;
    font-size: 13px;
}
.header_top_right a{
    color: #666;
}
.header_logo{
    width:100%;
    height: 78px;
    padding-top: 34px;
    background-color: #fff;
    display: inline-block;
}
.logo{
    float: left;
    margin-left: 129.5px;
}
.search{
    float: right;
    margin-right: 129.5px;
}
.search_input{
    border: 1px solid #ec3461;
    width:450px;
    height:34px;
    background: url(../img/search.png) no-repeat 8px 5px;
    padding-left:34px;
    float: left;
}
.search_button{
    float: left;
    width: 90px;
    height: 36px;
    border: none;
    color: #fff;
    background: #ec3461;
    cursor: pointer;
}
.header_type{
    width: 100%;
    height:40px;
    line-height: 40px;
    background-color: #fff;
    margin-top: -5px;
}
.header_type ul{
    padding-left: 129.5px;
}
.header_type a{
    color: #000;
}
.header_type ul li{
    float: left;
    padding: 0 10px;
    position: relative;
}
.header_type i{
    padding-left: 15px;
}
.header_type ul li ul {
    padding-right: 15px;
    display: none;
    width: 150px;
    position: absolute;
    top:40px;
    left:-148px;
    z-index: 99;
}
.header_type ul li:hover ul {
    display: block;
}
.header_type ul li ul li{
    /*text-align: center;*/
    width: 150px;
    height: 30px;
    line-height: 30px;
    background-color: #ffffff;
 }

.header_type ul li ul li:hover{
    background-color: #f2f2f2;
}
.header_type ul li ul li a{
    padding-left:18px;
}


/*轮播图开始*/
.flexslider{
    position:relative;
    height:350px;
    overflow:auto;
    background:url(../img/loading.gif) 50% no-repeat;
}
.slides{
    position:relative;
    z-index:1;
}
.slides li {
    height:350px;
}
.flex-control-nav {
    position:absolute;
    bottom:10px;
    z-index:2;
    width:100%;
    text-align:center;
}
.flex-control-nav li {
    display:inline-block;
    width:14px;
    height:14px;
    margin:0 5px;
    *display:inline;
    zoom:1;
}
.flex-control-nav a {
    display:inline-block;
    width:14px;
    height:14px;
    line-height:40px;
    overflow:auto;
    background:url(../img/dot.png) right 0 no-repeat;
    cursor:pointer;
}
.flex-control-nav .flex-active {
    background-position:0 0;
}
.flex-direction-nav {
    position:absolute;
    z-index:3;
    width:100%;
    top:45%;
}
.flex-direction-nav li a {
    display:block;
    width:50px;
    height:50px;
    overflow:auto;
    cursor:pointer;
    position:absolute;
}
.flex-direction-nav li a.flex-prev {
    left:40px;
    background:url(../img/prev.png) center center no-repeat;
}
.flex-direction-nav li a.flex-next {
    right:40px;
    background:url(../img/next.png) center center no-repeat;
}

/*轮播图结束*/

.well-chosen{
    padding-top:30px;
    display: block;
}
.well-chosen_overview{
    margin-left: 129.5px;
    margin-right: 129.5px;
    display: block;
}
.well-chosen_tit{
    display: block;
    background: url("../img/tit-3.png") no-repeat center;
    margin-bottom: 20px;
}
.well-chosen_tit h3{
    color: #666;
    text-align: center;
}
.well-chosen_tit span{
    color: #ec3461;
}
.well-chosen_con{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 540px;
}
.well-chosen_item{
    width: 1100px;
    height: 270px;
}
.well-chosen_item a{
    width: 540px;
    height: 260px;
}
.well-chosen_img{
    margin: 5px;
    float: left;
    transition:  0.3s ;
}
.well-chosen_img:hover{
    box-shadow: 4px 4px 10px #b4b2b2;
    transition:  0.3s ;
}

.well-chosen_more{
    width:70px;
    height: 20px;
    float: right;
}
.well-chosen_more i{
    padding-right: 5px;
}
.well-chosen_more a{
    color: #ec3461;
    font-size: 14px;
}
.buying{
    width:1100px;
    height:470px;
    display: block;
    margin: 0 auto;
}

.buying li{
    float: left;
    width: 336px;
    height: 446px;
    padding: 5px;
    background-color: #fff;
    margin: 10px;
    transition:  0.3s ;
}
.buying li:hover{
    box-shadow: 4px 4px 10px #b4b2b2;
    transition:  0.3s ;
}
.buying_con{
    width:300px;
    margin: 0 auto;
}
.buying_value{
    float: left;
    font-size: 18px;
    color: #ec3461;
    margin-top: 30px;
}
.buying_btn{
    float: right;
    color: #ffffff;
    background-color: #ec3461;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 30px;
}

.hot{
    width: 1100px;
    padding: 5px;
    margin: 0 auto;
}
.hot li{
    margin-bottom: 30px;
    display: block;
    position: relative;
}
.hot_img{
    width: 1090px;
    height: 350px;
    transition:  0.3s ;
}
.hot_img:hover{
    box-shadow: 4px 4px 10px #b4b2b2;
    transition:  0.3s ;
}
.hot_img_con{
    padding:30px;
    background-color: #ffffff;
    width: 390px;
    height:250px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.hot_img_con_pcon{
    color: #666666;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 60px;
}

.all_buying{
    width:1100px;
    display: block;
    margin: 0 auto;
}

.all_buying li{
    float: left;
    width: 336px;
    height: 446px;
    padding: 5px;
    background-color: #fff;
    margin: 10px;
    transition:  0.3s ;
}
.all_buying li:hover{
    box-shadow: 4px 4px 10px #b4b2b2;
    transition:  0.3s ;
}
.all_buying_con{
    width:300px;
    margin: 0 auto;
}
.all_buying_value{
    float: left;
    font-size: 18px;
    color: #ec3461;
    margin-top: 30px;
}
.all_buying_btn{
    float: right;
    color: #ffffff;
    background-color: #ec3461;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 30px;
}
.allproduct{
    display: block;

}
.bottom_more{
    width: 100%;
    height:30px;
    padding: 20px 0;
    clear: both;
}
.more_btn{
    color: #fff;
    display: block;
    background-color: #ec3461;
    text-align: center;
    width:200px;
    height:30px;
    line-height: 30px;
    margin: 0 auto;
}

.footer{
    width:100%;
    min-height:260px;
    background: #f9f9f9;
    margin-top: 10px;
    display: block;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.2);

}
.footer_con{
    width: 930px;
    min-height: 260px;
    margin: 0 auto;
    /*margin-left: 129.5px;*/
    /*margin-right: 129.5px;*/
}
.footer_con_top{
    padding-top: 25px;
    min-height:135px;
    border-bottom: 1px solid #a6a6a6;
}
.footer_con_top ul{

}

.footer_con_top ul li {
    float: left;
    margin: 0 20px;
}
.footer_con_top ul li strong{
    margin: 0 20px;
}
.footer_con_top ul li ul li {
    clear: both;
    font-size: 14px;
}
.footer_con_top a{
    color:#000000;
}

.footer_con_bottom{
    /*overflow:auto;*/
    margin: 0 auto;
    width: 504px;
    height:100px;
}
.footer_bottom_line{
    overflow:auto;
    padding-top: 20px;

}
.footer_bottom_line ul {
    overflow:auto;
    width: auto;
    margin: 0 auto;
}
.footer_bottom_line ul li {
    overflow:auto;
    float: left;
}
.footer_bottom_line a{
    overflow:auto;
    color: #000;
}
.footer_bottom_allright{
    padding-top: 10px;
    /*text-align: center;*/
    width: 390px;
    margin: 0 auto;
}
